<?php
/**
 * Phergie
 *
 * PHP version 5
 *
 * LICENSE
 *
 * This source file is subject to the new BSD license that is bundled
 * with this package in the file LICENSE.
 * It is also available through the world-wide-web at this URL:
 * http://phergie.org/license
 *
 * @category  Phergie
 * @package   Phergie_Plugin_Temperature
 * @author    Phergie Development Team <team@phergie.org>
 * @copyright 2008-2011 Phergie Development Team (http://phergie.org)
 * @license   http://phergie.org/license New BSD License
 * @link      http://pear.phergie.org/package/Phergie_Plugin_Browser
 */

/**
 * Performs website responce time after time interval.
 *
 * @category Phergie
 * @package  Phergie_Plugin_Browser
 * @author   
 * @license  http://phergie.org/license New BSD License
 * @link     http://pear.phergie.org/package/Phergie_Plugin_Browser
 */
class Phergie_Plugin_Performance extends Phergie_Plugin_Abstract
{
    /**
     * Check the website performance.
     *
     * @param  $domainname accepts the website name i.e localhost/Browser.php; www.yahoo.co.uk
     *
     * @return floor $status calculate the responce time $starttime and $stoptime
     */
     public function pingDomain($domain){
		$domain="http://".$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
		echo $domain;
		$starttime = microtime(true);
		$file      = fsockopen ($domain, 80, $errno, $errstr, 10);
		$stoptime  = microtime(true);
		$status    = 0;
		if (!$file){
			$status = -1;  // Web site is Down 
		}
		else{
			fclose($file);
			$status = ($stoptime - $starttime) * 1000; 
			$status = floor($status);
		}
	return $status;
	}
    	   
   	public function webStatus($domain){
	$domainbase = str_replace("http://","",strtolower($domain));
    $status = pingDomain($domainbase); 
		if ($status != -1) echo "http://$domainbase is ALIVE ($status ms)"; 
        else               echo "http://$domainbase is DOWN ($status ms)"; 
	}
}
